@page
@using DriveByBooking.Model.CarFolder
@using DriveByBooking.Model.ProfilFolder
@using DriveByBooking.Model.Booking
@model DriveByBooking.Pages.Admin.BookingIndexModel
@{
}





<h1><strong>Oplev Alle Vores Fantastiske Bookinger</strong></h1>

@* 2 knapper til at komme til de andre admin sider *@

<a asp-page="Index" class="btn btn-primary">Kunder</a>

<a asp-page="CarIndex" class="btn btn-primary">Biler</a>

@* Skema over bookings *@
<div class="form-selectt">
    <table class="table table-hover">
        <thead>
            <tr>
                <form method="post">
                <th>Kunde Infomation</th>
                <th>Bil Infomation</th>
                <th>TID</th>
                </form>
            </tr>
        </thead>
        <tbody>
            @foreach (Booking c in Model.Books)
            {
                <tr>
                    <td>@c.CustomerClass</td>
                    <td>@c.CarClass</td>
                    <td>@c.DateTime</td>
                </tr>
            }
        </tbody>
    </table>
</div>