html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

#loginpage {
    margin-bottom: 60px;
    background: url("https://msdesign.blob.core.windows.net/wallpapers/Microsoft_Nostalgic_Windows_Wallpaper_4k.jpg");
    background-size: cover; /* or use 'contain' depending on your preference */
}


.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

a {
    color: white;
}

header {
    color: white;
}

.table {
    color: white;
}

.table-midget {
    --bs-table-striped-bg: #c5d7f2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-color: #f48c06;
    color: #000;
    border-color: #bacbe6;
}

body {
    background-color: gray;
    padding-bottom: 60px;
}

.midget {
    background-color: #f48c06;
}

body, .footer {
    color: white;
}

.card {
    border-radius: 2px;
}

tr:hover {
    color: green;
}

.form-selectt {
    background: #f48c06;
}

.form-selectt {
    background: #f48c06;
}
.form-selectt:hover{
    color: black        ;
}

.form-select {
    background: linear-gradient(180deg, white, #f48c06);
    color: #212529;
    margin-bottom: 5px;
    border: 4px;
}



.bestil {
    background-color: #19784d;
    color: white;
}

.nav-link {
    color: white;
}

.gradient-text {
    background: linear-gradient(180deg, white, #f48c06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body2 {
    background: linear-gradient(180deg, #f48c06, white);
}

}

footer {
    background-color: #f48c06;
}

main {
    padding-bottom: 60px;
}


.yes {
    background-color: gray;
}

.navbar-toggler {
    color: white;
}