html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

#loginpage {
    margin-bottom: 60px;
    background: url("https://msdesign.blob.core.windows.net/wallpapers/Microsoft_Nostalgic_Windows_Wallpaper_4k.jpg");
    background-size: cover; /* or use 'contain' depending on your preference */
}


.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

a {
    color: white;
}

header {
    color: white;
}

.table {
    color: white;
}

body {
    background-color: gray;
}

.midget {
    background-color: #f48c06;
}

body, .footer {
    color: white;
}

.card {
    border-radius: 2px;
}

tr:hover {
    color: green;
}


.form-selectt {
    background: #f48c06;
}

.form-select {
    background: linear-gradient(180deg, white, #f48c06);
    color: #212529;
    margin-bottom: 5px;
    border: 4px;
}

.bestil {
    background-color: #19784d;
    color: white;
}

.nav-link {
    color: white;
}

.gradient-text {
    background: linear-gradient(180deg, white, #f48c06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}